


a:hover {
  color: #535bf2;
}


a:active {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}


a:active, a:focus {
  transform: scale(0.95);
  transition: transform 0.2s ease;
}


body,html {
  overscroll-behavior: none;
  margin: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  font-family: "Lobster", sans-serif;
  font-style: normal;
}

h1 {
  line-height: 1.1;
  color: black;
}

button {

 cursor: pointer;

  
}
button:hover {
  border-color: #646cff;
}



